@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@layer utilities {
  .shadow-card {
    @apply shadow-[0_4px_20px_rgba(0,0,0,0.08)];
  }

  .divider-vertical {
    @apply relative after:content-[''] after:absolute after:right-[-10px] after:top-1/4 after:h-3 after:w-px after:bg-gray-200 last:after:hidden;
    @apply px-6;
  }

  .divider-horizontal {
    @apply bg-gray-200 h-[1px] w-full;
  }

  .divider-horizontal-thick {
    @apply bg-gray-300 h-[8px] w-full;
  }
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #dbc0b0;
  width: 8px;
  height: 4px;
  border-radius: 10px;
}
