@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  @font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Pretendard-Regular.subset.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Pretendard-Medium.subset.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Pretendard-Bold.subset.woff2") format("woff2");
  }
}

@layer base {
  body {
    font-family:
      -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Malgun Gothic",
      "맑은 고딕", system-ui, helvetica, sans-serif;
  }

  @media (min-width: 1024px) {
    body {
      font-family:
        "Pretendard",
        -apple-system,
        BlinkMacSystemFont,
        "Apple SD Gothic Neo",
        "Malgun Gothic",
        "맑은 고딕",
        system-ui,
        helvetica,
        sans-serif;
    }
  }
}

@layer utilities {
  .shadow-card {
    @apply shadow-[0_4px_20px_rgba(0,0,0,0.08)];
  }

  .divider-vertical {
    @apply relative after:content-[''] after:absolute after:right-[-10px] after:top-1/4 after:h-3 after:w-px after:bg-gray-200 last:after:hidden;
    @apply px-6;
  }

  .divider-horizontal {
    @apply bg-gray-200 h-[1px] w-full;
  }

  .divider-horizontal-thick {
    @apply bg-gray-300 h-[8px] w-full;
  }

  .system-font {
    font-family:
      -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard",
      "Malgun Gothic", "맑은 고딕", system-ui, helvetica, sans-serif;
  }

  .system-font * {
    font-family: inherit;
  }
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #dbc0b0;
  width: 8px;
  height: 4px;
  border-radius: 10px;
}
